:where(*) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
background-color: black;
 font-family: Arial, Helvetica, sans-serif;
    word-break: break-word;
}
nav{
    display: flex;
    height: auto;
    background-color: rgba(100, 100, 100, 0.123);
    height:100px;
    width:100%;
}

nav a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-family: "Space Grotesk", serif;
    font-size: 15px;
    font-weight:lighter;
    height:100%;
    width:120px;
}


.nav-list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height:90%;
}


.nav-item{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    height:100%;
    width:120px;
}

.nav-item:hover{
    color:grey;
    border-bottom:2px solid white;
}





.content-container{
    margin-top:100px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    
}



h1,h2{
    color: #15d915;
    font-weight: bold;
    text-align: center;
    font-family:sans-serif;
    font-style: normal;
    font-size: 80px;
}

h2{
    text-align: start;
    font-size: 63px;
}



h3{
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 21px;
    font-weight: bold;
}




.about-undertext,.long-text1{
    color: grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: light;
    font-size: 18px;
}



.about-image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 3;
    min-height:50px;
    min-width:100px;

}


.about-image img {
    height: 100%; /* Image height matches the container height */
    width: auto; /* Width is proportional to the height */
}

.long-text1{
    margin-bottom:30px;
}

.long-text-container{
    width:70%;
    height: auto;
    
}



.history-container{
    height: auto;
    width: 100%;
    background-color: rgba(53, 49, 49, 0.421);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding:10%;
    margin:50px;
   
}


.history-container li{
    color: grey;
}


.history-list li{
    list-style-type: circle;
}


.accolades{
   
}

.accolades-container{
    gap:20px;
}

.ac-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:30px;
}

.ac-item{
    max-width:500px;
    min-width:20%;
}


.ac-description{
    color: grey;
    font-size:20px;
    font-weight: lighter;
}


.ac-item h4{
    color: white;
}





@media screen and (max-width: 1200px) {
    .nav-list{
        display: none;
    }

    .hamburger .line{
        height:1px;
        width:30px;
        background-color: rgb(253, 253, 253);
    
    }
    nav{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding:0 5%;
    }

    .hamburger{
        display: none;
    }



}


.hamburger{
    margin-top:50px;
    display: flex;
    flex-direction: column;
    height:100px;
    width:auto;
    gap:8px;
    cursor: pointer;
}


.display{
    display:none;
}


footer{
    margin-top:50px;
    height:20%;
    width: auto;
    background-color: black;

}


/*Edited navbar*/



.hamburger-menu{
    display: none;
    flex-direction:column;
    gap:5px;
    cursor: pointer;
    margin-left:5%;
    transition:rotate 200ms;
}

.line{
    background-color: white;
    height:3px;
    width:30px;
}

.click-menu-addition{
    width:100%;
    display: none;
    background-color: rgba(100, 100, 100, 0.123);
}


.on{
    height:250px;
    display: none;
    background-color: rgba(100, 100, 100, 0.123);
}

.rotate{
    rotate:90deg;
}

.edited{
    color: white;
}


.item-edited a{
    display: none;
}

.nav-edited{
    display: none;
}

.item-edited{
    display: none;
}


@media(max-width:1000px){
    .on{
        display: block;
    }
    nav{
        height:auto;
        flex-direction: column;
    }
    .hamburger-menu{
        display: flex;
    }
    .nav-list{
        width:100%;
        display: flex;
        justify-content: flex-start;
        height:100px;
        border: none;
        background-color: rgba(100, 100, 100, 0.123);
    }
    
    .nav-edited{
        display: flex;
        flex-direction: column;
        height:300px;
        background-color: rgba(100, 100, 100, 0.123);
        width: auto;
    }

    .nav-edited .item-edited a{
        font-size:22px;
        display: block;
    }
    .item-edited{
        text-align: center;
        padding:5px;
        display: block;
    }
    nav{
        width:100%;
        background-color: rgba(100, 100, 100, 0.123);
    }

    .nav-item{
        display: none;
    }
}