:where(*) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
background-color: rgba(0, 0, 0, 0.957);
}

nav{
    display: flex;
    height: 80px;
    background-color:black;
}

nav a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-family: "Space Grotesk", serif;
    font-size: 15px;
    font-weight:lighter;
    height:100%;
    width:120px;
}


.nav-list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom:1px solid #0eaf0e;;
    width: 100%;
}


.nav-item{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    height:100%;
    width:120px;
}

.nav-item:hover{
    color:grey;
    border-bottom:2px solid white;
}


h1{
   
    font-family: 'Times New Roman', Times, serif;
   
}

.form-group{
    display: flex;
    flex-direction: column;
    
}

.form-group input,textarea{
    background-color: rgba(128, 128, 128, 0.22);
    outline:none;
    border:none;
}

.form-group button{
    width:100%;
    background-color: transparent;
    border:1px solid #0eaf0e32;
    color: white;
    padding: 10px;
    
}

.form-group button:hover{
     background-color: rgba(35, 35, 35, 0.753);
    font-weight: bold;
    outline: none;
    cursor: pointer;
}

.form-group input{
    height: 40px;
    width:50%;
    border:none;
    margin-right:10%;
    color: grey;
}

.item{
    display: flex;
    justify-content: space-between;
    margin-bottom:20px;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top:50px;
    color: white;

}

.form-group{
    width: 50%;
}

label{
    font-size: 20px;
}


textarea{
    height:100px;
    width: 60%;
}


h1{
    color: #0eaf0e9c;
    font-weight: bold;
    text-align: center;
    font-family:sans-serif;
    font-style: normal;
    font-size: 60px;
}

.title{
     margin-top:50px;
    height:100px;
    display: flex;
    justify-content: center;
    align-items: center;
}



@media screen and (max-width: 1200px) {
    .nav-list{
        display: none;
    }

    .hamburger .line{
        height:1px;
        width:30px;
        background-color: rgb(253, 253, 253);
    
    }
    nav{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding:0 5%;
    }

    .hamburger{
        display: none;
    }



}


.hamburger{
    margin-top:50px;
    display: flex;
    flex-direction: column;
    height:100px;
    width:auto;
    gap:8px;
    cursor: pointer;
}


.display{
    display:none;
}
