:where(*) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: Arial, Helvetica, sans-serif;
    word-break: break-word;
    background-color: black;
    
}
nav{
    display: flex;
    height: auto;
    height:100px;
    width:100%;
}

nav a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-family: "Space Grotesk", serif;
    font-size: 15px;
    font-weight:lighter;
    height:100%;
    width:120px;
}


.nav-list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height:90%;
}


.nav-item{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    height:100%;
    width:120px;
}

.nav-item:hover{
    color:grey;
    border-bottom:2px solid white;
}

#main-slider{
    display: flex;
    flex-direction: column;
    align-items: center;
    height:600px;
    width: 100%;
    background-image:url("Images/razer-blade16-homepage.webp");
    background-repeat: none;
    background-position: center;
    background-size: cover;
    padding-top:50px;
}



h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
  text-shadow: 2px 2px black;
    font-size: 3em;
    text-align: center;

}

#main-slider span{
    
}

.spanz{
    max-width:50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;

    
}

#main-slider div{
    display: flex;
    justify-content: space-between;
    margin-top:20px;
    
}

 .spanz a{
    text-decoration: none;

        color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.938);
    font-size: 2em;
    text-align: center;


    
}


.spanz a:hover{
    border-bottom:1px solid white;
}



span{
    color: white;
}

.green{
    color: #0eaf0e;
    margin-left:8px;
    font-size: 20px;
}



 p{
    font-size: 27px;
    text-align: center;
    margin-top:8px;
   color: rgb(232, 232, 232);
    font-weight:bold;
     text-shadow: 2px 2px black;
    font-size: 2em;
    word-break: break-word;

}

.controls{
    width: 100%;
    height: auto;
}



.controls button{
    background-color: transparent;
    border: none;
    cursor: pointer;

}

.controls button:hover{
    background-color: rgba(255, 255, 255, 0.164);
}

.controls button:active{
    background-color: rgba(255, 255, 255, 0.397);
}



footer{
    background-color:rgb(46, 46, 46) ;
    height:200px;
    min-height:150px;
    width: 100%;
    border-top:1px solid #0eaf0e;
}



@media screen and (max-width: 1200px) {
    .nav-list{
        display: none;
    }

    .hamburger .line{
        height:1px;
        width:30px;
        background-color: rgb(253, 253, 253);
    
    }
    nav{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding:0 5%;
    }

    .hamburger{
        display: none;
    }



}



@media screen and (max-width: 1200px) {
  .display{
    display: block;
  }
}
.hamburger{
    margin-top:50px;
    display: flex;
    flex-direction: column;
    height:100px;
    width:auto;
    gap:8px;
    cursor: pointer;
}


.display{
    display:none;
}

.main-image-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height:600px;
    width: 100%;
    background-image:url("Images/HomeImageEsports.webp");
    background-repeat: none;
    background-position: center;
    background-size: cover;
    padding-top:50px;
    border-top:20px solid rgb(46, 46, 46);
}

.main-image-container-two{
    display: flex;
    flex-direction: column;
    align-items: center;
    height:600px;
    width: 100%;
    background-image:url("Images/HomeImageBorderlands.webp");
    background-repeat: none;
    background-position: center;
    background-size: cover;
    padding-top:50px;
    border-top:20px solid rgb(46, 46, 46);
}


footer{
    height:20%;
    width: auto;
    background-color: black;

}

/*Navbar edited*/

.hamburger-menu{
    display: none;
    flex-direction:column;
    gap:5px;
    cursor: pointer;
    margin-left:5%;
    transition:rotate 200ms;
}

.line{
    background-color: white;
    height:3px;
    width:30px;
}

.click-menu-addition{
    width:100%;
    display: none;
    background-color: black;
}


.on{
    height:300px;
    display: none;
    background-color: black;
}

.rotate{
    rotate:90deg;
}

.edited{
    color: white;
}


.item-edited a{
    display: none;
}

.nav-edited{
    display: none;
}

.item-edited{
    display: none;
}


@media(max-width:1000px){
    .on{
        display: block;
    }
    nav{
        height:auto;
        flex-direction: column;
    }
    .hamburger-menu{
        display: flex;
    }
    .nav-list{
        width:100%;
        display: flex;
        justify-content: flex-start;
        height:100px;
        border: none;
        background-color: black;
    }
    
    .nav-edited{
        display: flex;
        flex-direction: column;
        height:300px;
        background-color: black;
        width: auto;
    }

    .nav-edited .item-edited a{
        font-size:22px;
        display: block;
    }
    .item-edited{
        text-align: center;
        padding:5px;
        display: block;
    }
    nav{
        width:100%;
        background-color: black;
    }

    .nav-item{
        display: none;
    }
}