:where(*) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{

}

nav{
    display: flex;
    height: 80px;
    background-color:black;
}

nav a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-family: "Space Grotesk", serif;
    font-size: 15px;
    font-weight:lighter;
    height:100%;
    width:120px;
}


.nav-list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom:1px solid #0eaf0e;;
    width: 100%;
}


.nav-item{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    height:100%;
    width:120px;
}

.nav-item:hover{
    color:grey;
    border-bottom:2px solid white;
}


#main-slider{
    display: flex;
    flex-direction: column;
    align-items: center;
    height:600px;
    width: 100%;
    background-image:url("Images/razer-blade16-homepage.webp");
    background-repeat: none;
    background-position: center;
    background-size: cover;
    padding-top:50px;
}



#main-slider h1{
    color: rgba(240, 240, 240, 0.959);
    font-family: Arial, Helvetica, sans-serif;
    font-weight:600;
    font-size: 55px;
    text-align: center;
}

#main-slider span{
    
}

#main-slider .spanz{
    width:20%;
}

#main-slider div{
    display: flex;
    justify-content: space-between;
    margin-top:20px;
}

#main-slider .spanz a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: sans-serif;
}


#main-slider .spanz a:hover{
    border-bottom:1px solid white;
}



span{
    color: white;
}

.green{
    color: #0eaf0e;
    margin-left:8px;
    font-size: 20px;
}



#main-slider p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 27px;
    text-align: center;
    margin-top:8px;
    color: rgb(219, 219, 219);
}

.controls{
    width: 100%;
    height: auto;
}



.controls button{
    background-color: transparent;
    border: none;
    cursor: pointer;

}

.controls button:hover{
    background-color: rgba(255, 255, 255, 0.164);
}

.controls button:active{
    background-color: rgba(255, 255, 255, 0.397);
}



footer{
    background-color:rgb(46, 46, 46) ;
    height:200px;
    min-height:150px;
    width: 100%;
    border-top:1px solid #0eaf0e;
}