:where(*) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
background-color: black;
display: flex;
flex-direction: column;
align-items: center;
}

nav{
    display: flex;
    height: auto;
    background-color: rgba(100, 100, 100, 0.123);
    height:100px;
    width:100%;
}

nav a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-family: "Space Grotesk", serif;
    font-size: 15px;
    font-weight:lighter;
    height:100%;
    width:120px;
}


.nav-list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height:90%;
}


.nav-item{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    height:100%;
    width:120px;
}

.nav-item:hover{
    color:grey;
    border-bottom:2px solid white;
}




article{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:20px;
    background-color: rgba(135, 135, 135, 0.144);
    flex-wrap: wrap;
    height:auto;
    width:30%;
    min-width:180px;
    margin:10px;
}


article img{
    height: auto;
    width:50%;
    min-width:150px;
}

.add-cart-btn{
    background-color: transparent;
    color: white;
    outline:1px solid #0eaf0e32;
    border: none;
    padding:10px;
    cursor: pointer;
}

.add-cart-btn:hover{
    background-color: rgba(35, 35, 35, 0.753);
    font-weight: bold;
    outline: none;
}

.article-container{
    margin-top:100px;
    background-color: black;
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    gap:5px;
    padding:10% 5%;
    width:100%;
    
}

main{
    width:100%;
}

.price-tag{
    color: white;
    font-size:25px;
}

.product-name-tag{
    color: white;
    font-size:20px;
}

.product-description{
    color: white;
    text-wrap: wrap;
    max-width:80%;
}

.hamburger-menu{
    display: none;
    flex-direction:column;
    gap:5px;
    cursor: pointer;
    margin-left:5%;
    transition:rotate 200ms;
}

.line{
    background-color: white;
    height:3px;
    width:30px;
}

.click-menu-addition{
    width:100%;
    display: none;
    background-color: rgba(100, 100, 100, 0.123);
}


.on{
    height:250px;
    display: none;
    background-color: rgba(100, 100, 100, 0.123);
}

.rotate{
    rotate:90deg;
}

.edited{
    color: white;
}


.item-edited a{
    display: none;
}

.nav-edited{
    display: none;
}

.item-edited{
    display: none;
}


@media(max-width:1000px){
    .on{
        display: block;
    }
    nav{
        height:auto;
        flex-direction: column;
    }
    .hamburger-menu{
        display: flex;
    }
    .nav-list{
        width:100%;
        display: flex;
        justify-content: flex-start;
        height:100px;
        border: none;
        background-color: rgba(100, 100, 100, 0.123);
    }
    
    .nav-edited{
        display: flex;
        flex-direction: column;
        height:300px;
        background-color: rgba(100, 100, 100, 0.123);
        width: auto;
    }

    .nav-edited .item-edited a{
        font-size:22px;
        display: block;
    }
    .item-edited{
        text-align: center;
        padding:5px;
        display: block;
    }
    nav{
        width:100%;
        background-color: rgba(100, 100, 100, 0.123);
    }

    .nav-item{
        display: none;
    }
}