:where(*) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
background-color: black;
display: flex;
flex-direction: column;
align-items: center;
}

nav{
    display: flex;
    height: 80px;
    background-color:black;
}

nav a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-family: "Space Grotesk", serif;
    font-size: 15px;
    font-weight:lighter;
    height:100%;
    width:120px;
}


.nav-list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom:1px solid #0eaf0e5f;
    width: 100%;
}


.nav-item{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    height:100%;
    width:120px;
}

.nav-item:hover{
    color:grey;
    border-bottom:2px solid white;
}




article{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    outline: 1px solid white;
    padding:5px;
    background-color: rgba(135, 135, 135, 0.144);
    flex-wrap: wrap;
    height:auto;
    width:30%;
    min-width:180px;
    margin:10px;
}


article img{
    height: auto;
    width:50%;
    min-width:150px;
}

.add-cart-btn{
    background-color: transparent;
    color: white;
    outline:1px solid #0eaf0e32;
    border: none;
    padding:10px;
    cursor: pointer;
}

.add-cart-btn:hover{
    background-color: rgba(35, 35, 35, 0.753);
    font-weight: bold;
    outline: none;
}

.article-container{
    background-color: rgba(128, 128, 128, 0.175);
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    gap:5px;
    padding:10% 5%;
    
}

.price-tag{
    color: white;
    font-size:25px;
}

.product-name-tag{
    color: white;
    font-size:20px;
}

.product-description{
    color: white;
    text-wrap: wrap;
    max-width:80%;
}