:where(*) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
background-color: black;
display: flex;
flex-direction: column;
align-items: center;
}

nav{
    display: flex;
    height: 80px;
    background-color:black;
}

nav a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-family: "Space Grotesk", serif;
    font-size: 15px;
    font-weight:lighter;
    height:100%;
    width:120px;
}


.nav-list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom:1px solid #0eaf0e5f;
    width: 100%;
}


.nav-item{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    height:100%;
    width:120px;
}

.nav-item:hover{
    color:grey;
    border-bottom:2px solid white;
}




article{
    border:3px solid black;
    display: flex;
    flex-direction: column;
    max-width:400px;
    height:auto;
    margin-left:5%;
}

article img{
    max-height:200px;

}

.add-cart-btn{
    background-color: transparent;
    color: white;
    outline:1px solid #0eaf0e32;
    border: none;
    padding:10px;
    cursor: pointer;
}

.add-cart-btn:hover{
    background-color: rgba(35, 35, 35, 0.753);
    font-weight: bold;
    outline: none;
}


.container{
    background-color: transparent;
    display: flex;
    justify-content: center;
}
.article-container{
    background-color: transparent;
    display: flex;
    flex-wrap:wrap;
    justify-content: flex-start;
    margin:20px 10%;
    gap:5px;
}