
:where(*) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}



body{
background-color: #F9DBBB;
word-break: break-word;
display: flex;
flex-direction: column;
min-height:100vh;
}

main{
    height:100%;
    padding-top:8%;
    padding-bottom:10%;
}





/*navbar-section*/
nav{
    display: flex;
    height: auto;
    position:sticky;
    top:0.5px;
    background-color:#4E6E81;
    height:100px;
    width:100%;
}

nav a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color:#F9DBBB;
    font-size: 20px;
    font-weight:500;
    font-family: Arial, Helvetica, sans-serif;
    height:100%;
    width:120px;
}

nav .logo{
    text-shadow: 3px 3px #FF0303;
    font-size:30px;
    color: white;
}

.logo{
     font-weight: bolder;
     color: white;
     font-size:35px;
     text-shadow: 3px 3px #FF0303;
     text-decoration: none;
}


.nav-list{
    display: flex;
     background-color: transparent;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height:90%;
}


.nav-item{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    height:100%;
    width:120px;
}

.nav-item:hover{

    border-bottom:2px solid #F9DBBB;
}


.hamburger-menu{
    display: none;
    flex-direction:column;
    gap:5px;
    cursor: pointer;
    margin-left:5%;
    transition:rotate 200ms;
}

.line{
    background-color: #F9DBBB;
    height:3px;
    width:30px;
}

.click-menu-addition{
    width:100%;
    display: none;
    background-color: transparent;
}


.on{
    height:250px;
    display: none;
    background-color: transparent;
}

.rotate{
    rotate:90deg;
}

.edited{
    color: white;
}


.item-edited a{
    display: none;
}

.nav-edited{
    display: none;
}

.item-edited{
    display: none;
}




@media(max-width:1000px){
    .on{
        display: block;
    }
    nav{
        height:auto;
        flex-direction: column;
    }
    .hamburger-menu{
        display: flex;
    }
    .nav-list{
        width:100%;
        display: flex;
        justify-content: flex-start;
        height:100px;
        border: none;
    }
    
    .nav-edited{
        display: flex;
        flex-direction: column;
        height:300px;
        background-color: transparent;
        width: auto;
    }

    .nav-edited .item-edited a{
        font-size:22px;
        display: block;
    }
    .item-edited{
        text-align: center;
        padding:5px;
        display: block;
    }
    nav{
        width:100%;
    }

    .nav-item{
        display: none;
    }
}
/*Home page*/
/*main home slider*/
#main-slider{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:600px;
    width: 100%;
    background-image:url("Images/razer-blade16-homepage.webp");
    background-repeat: none;
    background-position: center;
    background-size: cover;
    padding-top:50px;
}


.main-slider-h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    text-shadow: 2px 2px black;
    font-size: 60px;
    text-align: center;

}



.home-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}





.spanz{
    max-width:50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}

#main-slider div{
    display: flex;
    justify-content: space-between;
    margin-top:20px;

}



 .spanz a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size: 30px;
    text-align: center;
}


.spanz a:hover{
    border-bottom:1px solid white;
}

@media(max-width:750px){
    .spanz a{
        font-size:17px;
        text-align: center;
    }

    .spanz{
        justify-content: center;
        gap:5px;
        margin:0 auto;
    }
     .main-slider-h1{
        font-size:50px;
    }
}


@media(max-width:650px){
    .main-slider-h1{
        font-size:40px;
    }

    .main-slider-h1{
        max-width:50%;
        min-width: 300px;
    }
}


@media(max-width:510px){
    .spanz{
        flex-direction: column;
    }
}





#create-id,#create-acc{
    font-size: 27px;
    text-align: center;
    margin-top:8px;
   color: rgb(232, 232, 232);
    font-weight:bold;
    font-size: 2em;
    word-break: break-word;

}

.controls{
    width: 100%;
    height: auto;
    position:absolute;
 
}



.controls button{
    background-color: transparent;
    border: none;
    cursor: pointer;

}

.controls button:hover{
    background-color: transparent;
}




.main-image-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height:100px;
    width: auto;
    background-image:url("Images/HomeImageEsports.webp");
    background-repeat: none;
    background-position: center;
    background-size: cover;
    padding-top:50px;
}


/*HOME PAGE*/


.home-article-content {
    flex: 1 1 300px;       
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}


.home-article {
    display: flex;
    flex-wrap: wrap;    
    gap:20px;  
    margin:5% 0;
    max-width:80%;
    flex-direction: column;
}


.home-article:nth-of-type(even){
    flex-direction: row-reverse;
}



.home-article:nth-of-type(n) .article-content{
        background-color:#2e384044;
        color: white;
}



.home-article:nth-of-type(3n) .article-content{
        background-color:#ff030348;
    
}

.home-article:nth-of-type(3n) .article-content h2{
        color: #2E3840;
    
}

.home-article:nth-of-type(2n) .article-content{
        background-color:#ffa03a44;
}



.home-article-content {
    flex: 1 1 300px;       
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.home-article-content h2{
    font-size:35px;
    color: #2E3840;
}

.home-article-image {
    flex: 1 1 300px;      
    min-height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*about-us-page-styling**/




#big-aboutus-h1{
     color: #FF0303;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    text-shadow: 6px 6px #2E3840;
    font-size: 3em;
    text-align: center;
}

.article {
    display: flex;
    flex-wrap: wrap;    
    gap:20px;  
    margin:5% 0;
    max-width:80%;
}

.article:nth-of-type(even){
    flex-direction: row-reverse;
}



.article:nth-of-type(n) .article-content{
        background-color:#2e384044;
        color: white;
}



.article:nth-of-type(3n) .article-content{
        background-color:#ff030348;
    
}

.article:nth-of-type(3n) .article-content h2{
        color: #2E3840;
    
}

.article:nth-of-type(2n) .article-content{
        background-color:#ffa03a44;
}



.article-content {
    flex: 1 1 300px;       
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.article-content h2{
    font-size:35px;
    color: #2E3840;
}

.article-image {
    flex: 1 1 300px;      
    min-height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.about-us-section{
    width:100%;
    min-height:100vh;
   background-color: #F9DBBB;
   display: flex;
   flex-direction: column;
   align-items: center;
}


.about-us-container{
    width:80%;
    display: flex;
    flex-direction: column;
    margin:auto;
    padding-top:100px;

}


.about-us-content-section{
    display: flex;
    width:100%;
}


.about-image-section{
    float:right;
    margin-top:30px;
    width:100%;
}

.about-image-section img{
    width:100%;
    height:auto;
    margin:0;
}


.about-us-content-section .about-us-title {
    text-transform: uppercase;
    font-size:30px;/*change to 1.2 when on mobile query*/
    color:#2E3840;

}

@media(max-width:800px){
    .about-us-content-section .about-us-title{
        font-size:20px;
    }
   
    .about-us-title h1 a{
        text-shadow: 2px 2px #FF0303;
    }


   

}

@media(max-width:507px){
    .about-us-content-section .about-us-title {
        font-size:15px;
    }
    
}







.about-us-title a{
    text-shadow: 6px 6px #FF0303;
    text-decoration: none;
    color: white;

}

 .about-us-content h3{
    margin-top:20px;
    color: #2E3840;
}


.about-us-content-section .about-us-content .about-us-content-paragraph{
    margin-top: 10px;
    font-size: 17px;
    line-height: 1.5;
}

.about-us-content-btn {
    margin-top: 30px;
    background-color: transparent;
    border: none;
}

.about-us-content-btn a{
    background-color: #4E6E81;
    padding: 12px 40px;
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    letter-spacing: 1.5px;
}

.about-us-content-btn a:hover{
    background-color: #FF0303;
    color: #fff;
    box-shadow: 6px 6px #2E3840;
}



@media screen and(max-width:768px){
    .about-us-container{
        width:80%;
        display: block;
        margin: auto;
        padding-top:50px;
    }

    .about-us-content-section{
        float: none;
        width: 100%;
        display: block;
        margin: auto;
    }

    .about-image-section{
        float: none;
        width:100%;
        display: block;
        margin: auto;
    }

    .about-image-section img{
        width:100%;
        height:auto;

    }

    .about-us-content-section .about-us-title{
        text-align: center;
    }
   


    .about-us-content-btn{
        text-align: center;
        
    }

    
    .about-us-content-btn a{  
        padding: 9px 30px;

    }



}



/**CONTACT US PAGE**/

.contact-us-section{

    height:100vh;
    padding: 50px;
    text-align: center;
    color: white;
}




.contact-us-container{
    max-width: 600px;
    margin: 0 auto;
}

.contact-us-container h2{
    font-size: 50px;
    margin-bottom: 30px;  
    color:#2E3840;
}

.contact-form input,.contact-form textarea{
    width:100%;
    padding: 10px;
    margin-bottom: 20px;
    border:1px solid grey;
    border: none;
    background-color: rgba(255, 255, 255, 0.48);
    color: grey;
    font-size: 16px;
}

.contact-form textarea{
    height:120px;
}

.contact-form button{
    font-size: 16px;
    display: inline-block;
    padding: 12px 20px;
    background-color:#4E6E81;
    border: none;
    cursor: pointer;
    outline: none;
    transition: 0.3 ease;
    color: white;
}

.contact-form button:hover{
    background-color:#FF0303;
    box-shadow:3px 3px #2E3840;
}




/*------------------*/

/*PRODUCTS PAGE*/
.products-body{
background-color: #4E6E81;
}
.main-page-products{
    background-color: transparent;
    height:100%;
}

.product-cards-container{
    background-color: transparent ;
    height:75%;
    width: 75%;
    margin:75px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
    grid-gap:25px;
    padding: 20px;
}

.product-cards-container .card{
    outline:1px solid #f9dbbb3f;
    color:white;
    box-shadow: -10px 0px 50px 9px #2E3840;
}

.image-section{
    min-height: 250px;
}

.card .img-styling{
   /* background-image: url("Images/HomeImageBorderlands.webp");*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}


.card .content{
    text-align: center;
    padding:20px 15px;   
}

.card .content h2{
    letter-spacing: 2px;
}

.card .content p{
    font-size: 16px;
    color:#f3f8fb;
    margin:15px 0px;
}
.card .content h3{
    color:#F9DBBB;
    padding:2px;
}

.card .content a{
    font-family: sans-serif;
    text-decoration: none;
    font-size: 16px;
    color: #222;
    letter-spacing: 2px;
    display: inline-block;
    background-color: #2E3840;
    padding: 10px;
    margin-bottom: 20px;
    color: white;
}

.card .content a:hover{
    background-color: #FF0303;
    box-shadow: 3px 3px #2E3840;
}



/*LOGIN AND SIGNUP*/

.form-container{
    width:100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top:30px;
}

.login-container,.signup-container{
    background-color: transparent;
    height: 430px;
    width:450px;
    border:1px solid #4E6E81;
}


.signup-container{
    height:600px;
}
.create-account-h3{
    height: 100px;
    font-size: 27px;
    color: #2E3840;
    font-weight: 100;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left:20px;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form input{
    height:45px;
    width:91%;
    background:transparent;
    border:1px solid grey;
    color:grey;
    font-size: 13px;
    padding-left:10px;
}

form input:first-of-type{
    margin-bottom:20px;
}



#forgor{
    width: 90%;
    display: flex;
    justify-content: end;
    margin-top:18px;
    font-size:15px;
}

#forgor a{
    text-decoration:none;
    color: grey;
    font-family: sans-serif;
    text-align: end;
}

#forgor a:hover{
    color: #0eaf0e;
}

#acc,#create-id{
    width: 90%;
    text-align: center;
    margin-top:18px;
    
}

#location{
    background-color: transparent;
    height:45px;
    width:91%;
    background:transparent;
    border:1px solid grey;
    color:grey;
    font-size: 13px;
    padding-left:10px;
}

#location option{
    background-color:rgb(46, 46, 46);
    color: white;
    font-weight: bold;
    font-size: 13px;
    
}



#acc a{
    text-decoration:none;
    color: rgb(203, 203, 203);
    font-family: sans-serif;
    text-align: end;
    font-size:15px;
}

#create-id a{
    text-decoration:none;
    color: white;
    font-size: 20px;
    font-weight: 100;
}

#create-id a:hover{
    color: #0eaf0e;
}



#login-btn{
    height:45px;
    width:91%;
    background-color: #1166119b;
    color:rgba(0, 0, 0, 0.777);
    font-size: 15px;
    font-weight: bold;
    margin-top:18px;
    border-radius: 3px;
    border: none;
}

.arrow{
    margin-left:8px;
    font-size: 20px;
}



.off{
    display: none;
}


#acc:hover{
    color: rgb(0, 255, 0);
    cursor: pointer;
}



#admin{
    color: rgb(203, 203, 203);
    width: 500px;
    font-size:15px;
    margin-left:100px;
    margin-top:50px;
    font-family: sans-serif;
    font-weight: bold;
    margin-top:100px;
    
}

#admin-check{
    font-size:10px;
    height:15px;
    width:50px;
    margin-right:90px;
    margin-top:20px;
    cursor: pointer;
    background-color: transparent;
}




/*footer*/


.footer{
   
    font-weight: 400;
    width:100%;
    background-color: #4E6E81;
    padding:40px 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding-left:5%;
    margin-top: auto;
}



.footer .footer-page-list{
    margin-top:0;
    padding:0;
    list-style: none;
    font-size: 20px;
    line-height:1.6;
    margin-bottom: 0;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.footer .footer-page-list li a{
    display: inline-block;
    padding:0 15px;
    color: #F9DBBB;

}

.footer .footer-page-list li a:hover{
    opacity:1;
}

